[licenses]
allow = [
  "MIT",
  "MIT-0",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "Unicode-3.0",
  "Zlib",
  "ISC",
  "OFL-1.1",
  "CC0-1.0",
  "Ubuntu-font-1.0",
  "BSL-1.0",
]

[advisories]
version = 2
ignore = [
  "RUSTSEC-2024-0436",
  "RUSTSEC-2025-0141",
]

[bans]
multiple-versions = "allow"
