[advisories]
unmaintained = "deny"
yanked = "deny"
notice = "deny"
ignore = [
    "RUSTSEC-2020-0056", # from gilrs v0.8.1 - unmaintained - https://github.com/koute/stdweb/issues/403
    # From xcb dependency in demo, should be resolved with https://github.com/emilk/egui/issues/1474
    "RUSTSEC-2021-0019",
    "RUSTSEC-2020-0097",
]

[licenses]
copyleft = "deny"
allow-osi-fsf-free = "either"

[[licenses.clarify]]
name = "stretch"
expression = "MIT"
license-files = []

[bans]
multiple-versions = "allow"
wildcards = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
