[advisories]
yanked = "deny"

[licenses]
allow = [ 
    "MIT",
    "MIT-0",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "Unicode-3.0",
    "Zlib",
    "ISC",
    "OFL-1.1",
    "Ubuntu-font-1.0",
    "CC0-1.0",
    "BSL-1.0",
 ]

[[licenses.exceptions]]
# https://github.com/emilk/egui/issues/2321
allow = ["LicenseRef-UFL-1.0", "OFL-1.1"]
name = "epaint"


[bans]
multiple-versions = "allow"