[advisories]
unmaintained = "deny"
yanked = "deny"
notice = "deny"

[licenses]
copyleft = "deny"
allow-osi-fsf-free = "either"
allow = [ 
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
 ]

[[licenses.clarify]]
name = "stretch"
expression = "MIT"
license-files = []

[[licenses.exceptions]]
# https://github.com/emilk/egui/issues/2321
allow = ["LicenseRef-UFL-1.0"]
name = "epaint"

[bans]
multiple-versions = "allow"
wildcards = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"

allow-git = [
    # Used in Demo Bevy, remove when new version supports bevy 0.11
    "https://github.com/bonsairobo/smooth-bevy-cameras.git",
    # Unreleased version for steamworks, need release with PR https://github.com/Noxime/steamworks-rs/pull/134
    "https://github.com/Noxime/steamworks-rs"
]
