[package]
name = "demo_chat"
version = "0.1.0"
authors = ["Lucas Poffo <ltkpoffo@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
renet = { path = "../renet" }
eframe = "0.17"
serde = { version = "1.0.117", features = [ "derive" ] } 
bincode = "1.3.1"
log = { version = "0.4.11", features = [ "std" ] }
env_logger = "0.9.0"
