[package]
name = "renet_steam"
version = "0.0.2"
keywords = ["gamedev", "networking", "transport"]
description = "steam transport for the renet crate: Server/Client network library for multiplayer games"
repository = "https://github.com/lucaspoffo/renet"
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
bevy = ["dep:bevy_ecs"]

[dependencies]
renet = { path = "../renet" }
# its version 0.10 but we need to use the rev because of a missing feature
steamworks = { git = "https://github.com/Noxime/steamworks-rs", rev = "a4dfe2a" }
log = "0.4.19"
bevy_ecs = { version = "0.12", optional = true }

[dev-dependencies]
env_logger = "0.10.0"
